asgiref==3.4.1
certifi==2020.12.5
chardet==4.0.0
Django==4.0.4
django-environ==0.8.1
django-mathfilters==1.0.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
pytz==2020.5
requests==2.26.0
sqlparse==0.4.2
uritemplate==3.0.1
urllib3==1.26.2