{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center">
  <form class="col-4" method="post">
    {% csrf_token %}
    <h1 class="mb-3">Log in</h1>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
    </div>
    {% endif %}
    <div class="form-floating mb-3">
      <input
        type="text"
        id="id_username"
        class="form-control"
        name="username"
        autofocus=""
        autocapitalize="none"
        autocomplete="username"
        maxlength="150"
        required=""
      />
      <label class="form-label" for="id_username">Username</label>
    </div>
    {% if form.username.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.username.errors }}
    </div>
    {% endif %}

    <div class="form-floating mb-3">
      <input
        type="password"
        id="id_password"
        class="form-control"
        name="password"
        autofocus=""
        autocapitalize="none"
        autocomplete="password"
        maxlength="150"
        required=""
      />
      <label class="form-label" for="id_password">Password</label>
    </div>
    {% if form.password.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.password.errors }}
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
  </form>
</div>
{% endblock %}
